In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://root:root@localhost:5432/green_taxi")

In [2]:
# read parquet data & insert green taxi data to postgres

df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet')
df.to_sql('green_taxi', engine, if_exists='replace', method='multi', chunksize=10000)

46912

In [3]:
#check data

df_green_taxi = pd.read_sql("SELECT * FROM green_taxi LIMIT 100;", engine)
df_green_taxi

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,...,0.5,1.94,0.0,None,1.0,11.64,1.0,1.0,0.00,0.00
1,1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,...,0.5,0.00,0.0,None,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,...,0.5,5.00,0.0,None,1.0,21.00,1.0,1.0,0.00,0.00
3,3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,...,0.5,0.50,0.0,None,1.0,27.70,1.0,1.0,0.00,0.00
4,4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,...,1.5,1.00,0.0,None,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2,2025-11-01 01:05:23,2025-11-01 01:33:11,N,1.0,33,170,1.0,6.22,...,0.5,0.00,0.0,None,1.0,39.10,4.0,1.0,2.75,0.75
96,96,2,2025-11-01 01:12:44,2025-11-01 01:21:10,N,1.0,74,42,1.0,1.12,...,0.5,0.00,0.0,None,1.0,12.50,2.0,1.0,0.00,0.00
97,97,2,2025-11-01 01:24:03,2025-11-01 01:53:33,N,5.0,157,228,1.0,8.36,...,0.0,15.40,0.0,None,1.0,92.38,1.0,2.0,0.00,0.00
98,98,2,2025-11-01 01:47:27,2025-11-01 01:47:36,N,5.0,112,112,4.0,0.00,...,0.0,10.60,0.0,None,1.0,63.60,1.0,2.0,0.00,0.00
99,99,2,2025-11-01 00:57:29,2025-11-01 01:02:38,N,1.0,75,238,1.0,1.06,...,0.5,2.00,0.0,None,1.0,12.40,1.0,1.0,0.00,0.00

In [4]:
# read csv data & insert green taxi zone data into postgres 
df_zone = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv')
df_zone.to_sql('green_taxi_zone', engine, if_exists='replace')

265

In [15]:
# check data
df_green_taxi_zone = pd.read_sql("SELECT * FROM green_taxi_zone LIMIT 100;", engine)
df_green_taxi_zone

    index  LocationID        Borough                       Zone service_zone
0       0           1            EWR             Newark Airport          EWR
1       1           2         Queens                Jamaica Bay    Boro Zone
2       2           3          Bronx    Allerton/Pelham Gardens    Boro Zone
3       3           4      Manhattan              Alphabet City  Yellow Zone
4       4           5  Staten Island              Arden Heights    Boro Zone
..    ...         ...            ...                        ...          ...
95     95          96         Queens  Forest Park/Highland Park    Boro Zone
96     96          97       Brooklyn                Fort Greene    Boro Zone
97     97          98         Queens              Fresh Meadows    Boro Zone
98     98          99  Staten Island            Freshkills Park    Boro Zone
99     99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 5 columns]

In [26]:
# question 3
# For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), 
# how many trips had a trip_distance of less than or equal to 1 mile?

sql = """
select count(1) from green_taxi 
where lpep_pickup_datetime between '2025-11-01' and '2025-12-01' 
AND trip_distance <= 1
"""
question3 =  pd.read_sql(sql,engine) 
question3

   count
0   8007

In [6]:
# question 4
# Which was the pick up day with the longest trip distance? Only consider trips with trip_distance less than 100 miles
# (to exclude data errors).
# Use the pick up time for your calculations.

sql = """
select *
from green_taxi 
where trip_distance < 100
order by trip_distance desc
limit 5
"""

question4 =  pd.read_sql(sql,engine) 
question4

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,18867,2,2025-11-14 15:36:27,2025-11-14 18:40:48,N,4.0,130,265,2.0,88.03,...,0.5,0.00,0.00,None,1.0,612.10,2.0,1.0,0.0,0.0
1,27301,2,2025-11-20 12:28:02,2025-11-20 18:00:18,N,4.0,82,265,1.0,73.84,...,0.0,0.00,20.32,None,1.0,522.02,2.0,1.0,0.0,0.0
2,31551,2,2025-11-23 10:12:18,2025-11-23 17:22:18,N,1.0,223,223,1.0,45.26,...,0.5,0.00,0.00,None,1.0,374.10,2.0,1.0,0.0,0.0
3,30104,2,2025-11-22 02:07:07,2025-11-22 03:03:29,N,5.0,34,265,2.0,40.16,...,0.0,36.98,6.94,None,1.0,184.92,1.0,2.0,0.0,0.0
4,20258,2,2025-11-15 14:12:35,2025-11-15 15:16:49,N,4.0,130,1,1.0,39.81,...,0.0,0.00,22.32,None,1.0,220.92,1.0,1.0,0.0,0.0

In [20]:
# question 5
# Which was the pickup zone with the largest total_amount (sum of all trips) on November 18th, 2025?

sql = """
select "PULocationID","Zone", sum(total_amount)
from green_taxi g join
green_taxi_zone z on
g."PULocationID" = z."LocationID" 
where  EXTRACT(DAY FROM lpep_pickup_datetime)::int = 18 and EXTRACT(MONTH FROM lpep_pickup_datetime)::int = 11
group by 1,2
order by 3 desc
limit 5
"""

question5 =  pd.read_sql(sql,engine) 
question5

   PULocationID                      Zone      sum
0            74         East Harlem North  9281.92
1            75         East Harlem South  6696.13
2            43              Central Park  2378.79
3           244  Washington Heights South  2139.05
4           166       Morningside Heights  2100.59

In [22]:
# question 6
# For the passengers picked up in the zone named "East Harlem North" in November 2025, 
# which was the drop off zone that had the largest tip?
# Note: it's tip , not trip. We need the name of the zone, not the ID.

sql = """
select  z."Zone",g."DOLocationID",tip_amount
from green_taxi g join 
green_taxi_zone z on
g."DOLocationID" = z."LocationID" 
where EXTRACT(MONTH FROM lpep_pickup_datetime)::int = 11
AND g."PULocationID" = 74
order by tip_amount dESC
limit 5
"""

question6 =  pd.read_sql(sql,engine) 
question6

                            Zone  DOLocationID  tip_amount
0                 Yorkville West           263       81.89
1              LaGuardia Airport           138       50.00
2              East Harlem North            74       45.00
3  Long Island City/Queens Plaza           146       34.25
4                            NaN           265       28.90