In [2]:
import pandas as pd

In [4]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet')
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,NaN,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,NaN,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,NaN,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,NaN,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,NaN,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine("postgresql://root:root@localhost:5432/green_taxi")

In [7]:
df.to_sql('green_taxi', engine, if_exists='replace', method='multi', chunksize=10000)

46912

In [11]:
df_green_taxi = pd.read_sql("SELECT * FROM green_taxi LIMIT 100;", engine)
df_green_taxi

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,...,0.5,1.94,0.0,None,1.0,11.64,1.0,1.0,0.00,0.00
1,1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,...,0.5,0.00,0.0,None,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,...,0.5,5.00,0.0,None,1.0,21.00,1.0,1.0,0.00,0.00
3,3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,...,0.5,0.50,0.0,None,1.0,27.70,1.0,1.0,0.00,0.00
4,4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,...,1.5,1.00,0.0,None,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2,2025-11-01 01:05:23,2025-11-01 01:33:11,N,1.0,33,170,1.0,6.22,...,0.5,0.00,0.0,None,1.0,39.10,4.0,1.0,2.75,0.75
96,96,2,2025-11-01 01:12:44,2025-11-01 01:21:10,N,1.0,74,42,1.0,1.12,...,0.5,0.00,0.0,None,1.0,12.50,2.0,1.0,0.00,0.00
97,97,2,2025-11-01 01:24:03,2025-11-01 01:53:33,N,5.0,157,228,1.0,8.36,...,0.0,15.40,0.0,None,1.0,92.38,1.0,2.0,0.00,0.00
98,98,2,2025-11-01 01:47:27,2025-11-01 01:47:36,N,5.0,112,112,4.0,0.00,...,0.0,10.60,0.0,None,1.0,63.60,1.0,2.0,0.00,0.00
99,99,2,2025-11-01 00:57:29,2025-11-01 01:02:38,N,1.0,75,238,1.0,1.06,...,0.5,2.00,0.0,None,1.0,12.40,1.0,1.0,0.00,0.00

In [12]:
df_zone = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv')

In [13]:
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [14]:
df_zone.to_sql('green_taxi_zone', engine, if_exists='replace')

265

In [15]:
df_green_taxi_zone = pd.read_sql("SELECT * FROM green_taxi_zone LIMIT 100;", engine)
df_green_taxi_zone

    index  LocationID        Borough                       Zone service_zone
0       0           1            EWR             Newark Airport          EWR
1       1           2         Queens                Jamaica Bay    Boro Zone
2       2           3          Bronx    Allerton/Pelham Gardens    Boro Zone
3       3           4      Manhattan              Alphabet City  Yellow Zone
4       4           5  Staten Island              Arden Heights    Boro Zone
..    ...         ...            ...                        ...          ...
95     95          96         Queens  Forest Park/Highland Park    Boro Zone
96     96          97       Brooklyn                Fort Greene    Boro Zone
97     97          98         Queens              Fresh Meadows    Boro Zone
98     98          99  Staten Island            Freshkills Park    Boro Zone
99     99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 5 columns]

In [8]:
sql = """
select * from green_taxi 
where lpep_pickup_datetime between '2025-11-01' and '2025-12-01' 
AND trip_distance <= 1
ORDER BY trip_distance DESC
"""
question3 =  pd.read_sql(sql,engine) 
question3

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,26784,2,2025-11-20 00:20:17,2025-11-20 00:26:29,N,1.0,166,166,1.0,1.0,...,0.5,2.08,0.00,None,1.0,12.48,1.0,1.0,0.00,0.00
1,19746,1,2025-11-15 03:51:15,2025-11-15 03:57:49,N,5.0,80,37,4.0,1.0,...,0.0,6.00,0.00,None,0.0,36.00,1.0,2.0,0.00,0.00
2,12042,1,2025-11-09 20:12:33,2025-11-09 20:21:37,N,1.0,97,189,1.0,1.0,...,1.5,2.00,0.00,None,1.0,13.80,1.0,1.0,0.00,0.00
3,2908,2,2025-11-03 11:22:08,2025-11-03 11:28:06,N,1.0,65,65,1.0,1.0,...,0.5,2.82,0.00,None,1.0,12.22,1.0,1.0,0.00,0.00
4,27310,2,2025-11-20 12:03:30,2025-11-20 12:20:56,N,1.0,43,236,1.0,1.0,...,0.5,2.87,0.00,None,1.0,22.02,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8002,36372,2,2025-11-26 17:18:55,2025-11-26 17:18:59,N,5.0,257,264,1.0,0.0,...,0.0,15.30,0.00,None,1.0,66.30,1.0,2.0,0.00,0.00
8003,15026,2,2025-11-11 21:51:45,2025-11-11 21:56:31,N,1.0,7,7,1.0,0.0,...,0.5,1.66,0.00,None,1.0,9.96,1.0,1.0,0.00,0.00
8004,6779,2,2025-11-06 05:43:39,2025-11-06 05:58:41,N,1.0,129,164,1.0,0.0,...,0.5,0.00,6.94,None,1.0,26.44,2.0,1.0,2.75,0.75
8005,6778,2,2025-11-06 05:31:15,2025-11-06 05:31:29,N,1.0,92,92,1.0,0.0,...,0.5,0.00,0.00,None,1.0,5.50,2.0,1.0,0.00,0.00
8006,6776,2,2025-11-06 04:58:32,2025-11-06 05:02:03,N,5.0,92,92,1.0,0.0,...,0.0,0.00,0.00,None,1.0,52.00,4.0,2.0,0.00,0.00

In [18]:
sql = """
select *
from green_taxi 
where lpep_pickup_datetime < '2025-11-01' or lpep_pickup_datetime > '2025-12-01' 
ORDER BY lpep_pickup_datetime 
"""

question3 =  pd.read_sql(sql,engine) 
question3

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,1498,2,2025-10-26 20:23:16,2025-10-26 20:31:18,N,1.0,92,192,1.0,1.35,...,0.5,2.36,0.0,None,1.0,14.16,1.0,1.0,0.00,0.00
1,2527,2,2025-10-27 20:20:49,2025-10-27 20:47:57,N,1.0,92,73,1.0,4.98,...,0.5,0.00,0.0,None,1.0,30.70,2.0,1.0,0.00,0.00
2,6793,2,2025-10-30 22:11:19,2025-10-30 22:25:53,N,1.0,92,7,1.0,5.70,...,0.5,1.00,0.0,None,1.0,27.90,1.0,1.0,0.00,0.00
3,8400,2,2025-10-31 19:10:31,2025-10-31 19:31:14,N,1.0,92,129,1.0,5.49,...,0.5,0.00,0.0,None,1.0,31.40,2.0,1.0,0.00,0.00
4,27,2,2025-10-31 19:35:25,2025-10-31 20:01:21,N,1.0,82,193,1.0,3.81,...,0.5,0.00,0.0,None,1.0,27.90,2.0,1.0,0.00,0.00
5,79,2,2025-10-31 19:44:41,2025-10-31 19:54:57,N,1.0,82,129,1.0,1.38,...,0.5,3.48,0.0,None,1.0,17.38,1.0,1.0,0.00,0.00
6,10,2,2025-10-31 23:55:08,2025-11-01 00:25:30,N,1.0,41,234,1.0,5.30,...,0.5,4.00,0.0,None,1.0,41.70,1.0,1.0,2.75,0.75
7,62,2,2025-10-31 23:58:40,2025-11-01 00:26:34,N,1.0,74,265,1.0,16.25,...,0.5,1.00,0.0,None,1.0,65.30,1.0,1.0,0.00,0.00
8,40185,2,2025-12-01 08:05:06,2025-12-01 08:18:01,N,1.0,74,166,1.0,1.78,...,0.5,3.00,0.0,None,1.0,18.00,1.0,1.0,0.00,0.00
9,40186,2,2025-12-01 08:46:16,2025-12-01 08:59:14,N,1.0,74,166,1.0,1.70,...,0.5,3.75,0.0,None,1.0,18.75,1.0,1.0,0.00,0.00
10,40228,2,2025-12-01 09:20:48,2025-12-01 09:40:48,N,1.0,74,244,1.0,3.22,...,0.5,4.40,0.0,None,1.0,26.40,1.0,1.0,0.00,0.00
11,40285,2,2025-12-01 10:01:37,2025-12-01 10:17:20,N,1.0,41,42,1.0,1.80,...,0.5,0.00,0.0,None,1.0,17.10,2.0,1.0,0.00,0.00
12,40286,2,2025-12-01 10:45:59,2025-12-01 10:59:09,N,1.0,74,239,1.0,3.26,...,0.5,4.25,0.0,None,1.0,25.50,1.0,1.0,2.75,0.00
13,40570,2,2025-12-01 13:30:51,2025-12-01 13:44:17,N,1.0,75,262,1.0,1.85,...,0.5,3.00,0.0,None,1.0,21.45,1.0,1.0,2.75,0.00
14,40678,2,2025-12-01 14:49:32,2025-12-01 15:15:02,N,1.0,43,236,1.0,2.13,...,0.5,4.71,0.0,None,1.0,30.86,1.0,1.0,2.75,0.00
15,40785,2,2025-12-01 15:35:27,2025-12-01 15:44:39,N,1.0,75,236,1.0,0.78,...,0.5,2.71,0.0,None,1.0,16.26,1.0,1.0,2.75,0.00
16,40889,2,2025-12-01 16:07:13,2025-12-01 16:36:24,N,1.0,74,243,1.0,4.81,...,0.5,5.50,0.0,None,1.0,35.20,1.0,1.0,0.00,0.00
17,40890,2,2025-12-01 16:47:43,2025-12-01 16:50:57,N,1.0,244,244,1.0,0.61,...,0.5,0.00,0.0,None,1.0,7.30,2.0,1.0,0.00,0.00
18,41081,2,2025-12-01 18:14:47,2025-12-01 18:33:11,N,1.0,74,263,1.0,2.78,...,0.5,1.00,0.0,None,1.0,23.65,1.0,1.0,2.75,0.00
19,41161,2,2025-12-01 19:12:11,2025-12-01 19:27:01,N,1.0,74,237,1.0,2.78,...,0.5,4.25,0.0,None,1.0,25.50,1.0,1.0,2.75,0.00
20,41210,2,2025-12-01 20:29:00,2025-12-01 20:44:42,N,1.0,166,236,1.0,2.98,...,0.5,4.73,0.0,None,1.0,28.38,1.0,1.0,2.75,0.00

In [26]:
sql = """
select DATE(lpep_pickup_datetime) as trip_date, sum(trip_distance) as sum_distance
from green_taxi 
where trip_distance < 100
group by 1
order by 2 DESC
"""

question4 =  pd.read_sql(sql,engine) 
question4

     trip_date  sum_distance
0   2025-11-20       6377.03
1   2025-11-19       6031.56
2   2025-11-18       5976.12
3   2025-11-06       5973.34
4   2025-11-25       5954.80
5   2025-11-05       5841.01
6   2025-11-17       5753.76
7   2025-11-21       5724.63
8   2025-11-13       5677.29
9   2025-11-24       5639.29
10  2025-11-03       5609.86
11  2025-11-14       5594.69
12  2025-11-10       5352.27
13  2025-11-26       5343.56
14  2025-11-12       5322.01
15  2025-11-07       5317.84
16  2025-11-04       4925.90
17  2025-11-01       4727.58
18  2025-11-11       4636.86
19  2025-11-08       4495.23
20  2025-11-15       4465.84
21  2025-11-16       4392.67
22  2025-11-30       4266.12
23  2025-11-02       4249.90
24  2025-11-22       4231.51
25  2025-11-23       4228.88
26  2025-11-29       4060.74
27  2025-11-09       3964.26
28  2025-11-27       3508.00
29  2025-11-28       3331.53
30  2025-10-31         32.23
31  2025-12-01         30.48
32  2025-10-30          5.70
33  2025-10-27          4.98
34  2025-10-26          1.35

In [71]:
sql = """
select  z."Zone",g."DOLocationID",tip_amount
from green_taxi g join 
green_taxi_zone z on
g."DOLocationID" = z."LocationID" 
where EXTRACT(MONTH FROM lpep_pickup_datetime)::int = 11
AND g."PULocationID" = 74
order by 3 DESC
limit 5
"""

question5 =  pd.read_sql(sql,engine) 
with pd.option_context("display.max_columns", None):
    display(question5)

                            Zone  DOLocationID  tip_amount
0                 Yorkville West           263       81.89
1              LaGuardia Airport           138       50.00
2              East Harlem North            74       45.00
3  Long Island City/Queens Plaza           146       34.25
4                            NaN           265       28.90

In [70]:
sql = """
select  z."Zone",g."DOLocationID",tip_amount
from green_taxi g join 
green_taxi_zone z on
g."DOLocationID" = z."LocationID" 
where EXTRACT(MONTH FROM lpep_pickup_datetime)::int = 11
AND g."PULocationID" = 74
order by tip_amount dESC
"""

question5 =  pd.read_sql(sql,engine) 
with pd.option_context("display.max_columns", None):
    display(question5)

                                Zone  DOLocationID  tip_amount
0                     Yorkville West           263       81.89
1                  LaGuardia Airport           138       50.00
2                  East Harlem North            74       45.00
3      Long Island City/Queens Plaza           146       34.25
4                                NaN           265       28.90
...                              ...           ...         ...
12036      Times Sq/Theatre District           230        0.00
12037              East Harlem North            74        0.00
12038    Downtown Brooklyn/MetroTech            65        0.00
12039       Washington Heights South           244        0.00
12040              East Harlem South            75        0.00

[12041 rows x 3 columns]